.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url('/background-header.png') lightgray 50% / cover no-repeat;

  width: 100%;
}

.secondBackground {
  background: rgba(255, 255, 255, 0.70);
}


.colMd8 {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  overflow: hidden;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.2Px;
  justify-content: start;
}
.h1 {
  color: var(--text-color);
  font-size: 58px;
  font-weight: 800;
  line-height: 80px;
}
.h4 {
  color: var(--second-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 35px;
}
.cta {
  align-self: start;
  display: flex;
  margin-top: 35px;
  align-items: start;
  gap: 10px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 28px;
  justify-content: start;
}
.buttonBtnPrimaryColorBtnRound {
  border-radius: 37px;
  background: var(--orange);
  overflow: hidden;
  color: white;
  padding: 10px 36px;
}
.buttonBtnPrimaryColorBtnOutlineBtnRound {
  border-radius: 37px;
  border: 1px solid var(--dark-green);
  overflow: hidden;
  color: var(--dark-green);
  padding: 10px 36px;
}



.cardItem {
  border-radius: 10px;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  display: flex;
  max-width: 328px;
  flex-direction: column;
  letter-spacing: 0.2Px;
  justify-content: start;
  padding: 40px;
  font: 14px Montserrat, sans-serif;
}
.h3 {
  color: var(--text-color);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1Px;
  align-self: center;
}
.cardContent {
  gap: 0.80rem;

  border-radius: 1px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  margin-top: 40px;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  justify-content: start;
}
.formGroup {
  display: flex;
  width: 100%;
  padding-bottom: 7px;
  flex-direction: column;
}
.formControl {
  color: var(--text-color);
  font-weight: 600;
  line-height: 24px;
  align-self: start;
}
.inputFormControl {
  border-radius: 5px;
  border: 1px solid var(--muted-color);
  background-color: #f9f9f9;
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
  color: var(--second-text-color);
  font-weight: 400;
  line-height: 28px;
  padding: 11px 21px;
}
.formGroup2 {
  display: flex;
  margin-top: 5px;
  width: 100%;
  padding-bottom: 7px;
  flex-direction: column;
  white-space: nowrap;
}
.formGroupCustomSelect {
  display: flex;
  margin-top: 5px;
  width: 100%;
  flex-direction: column;
}
.select {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  margin-top: 12px;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  color: var(--second-text-color);
  font-weight: 400;
  line-height: 28px;
}
.option {
  justify-content: center;
  border-radius: 5px;
  border: 1px solid var(--muted-color);
  background-color: #f9f9f9;
  display: flex;
  gap: 40px 97px;
  overflow: hidden;
  padding: 11px 19px;
}
.img {
  aspect-ratio: 1.75;
  object-fit: contain;
  object-position: center;
  width: 0.5rem;
  fill: var(--second-text-color);
  margin: auto 0;
}
.option2 {
  justify-content: center;
  border-radius: 5px;
  border: 1px solid var(--muted-color);
  background-color: #f9f9f9;
  display: flex;
  gap: 40px 92px;
  overflow: hidden;
  padding: 11px 19px;
}

.buttonBtnPrimaryColor {
  box-sizing: border-box;
  border-radius: 5px;
  background: var(--orange);
  margin-top: 40px;
  width: 100%;
  overflow: hidden;
  color: white;
  font-weight: 700;
  text-align: center;
  line-height: 28px;
  padding: 15px 40px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
