/* Селектор всего */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Селектор тега */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    padding: 20px;
}

/* Селектор класса */
.header {
    background-color: #6c757d;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Селектор идентификатора */
#schedule-title {
    font-size: 32px;
    color: #333;
}

/* Атрибутный селектор */
a[href] {
    text-decoration: none;
    color: #17a2b8;
}

/* Комбинированный селектор */
nav ul li a {
    font-size: 18px;
    color: #333;
}

/* Дочерний селектор */
nav > ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

/* Селектор соседнего элемента */
h2 + p {
    margin-top: 10px;
}

/* Селектор состояния элемента */
a:hover {
    color: #ff6347;
}

/* Псевдоэлемент */
section::first-letter {
    font-size: 1.5em;
    font-weight: bold;
}

/* Дополнительные стили для таблицы */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #6c757d;
    color: white;
}

/* Стили для футера */
footer {
    background-color: #6c757d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
