.body {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: space-between;

  position: relative;
  max-width: 1322px;
}

.navigation-box {
  display: flex;
  gap: 2.44rem;

  margin-right: 10.25rem;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 1.3125rem;

  color: #737373;
  text-align: center;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
}

.menu-icon {
  display: flex;
  align-items: center;
  gap: 1.12rem;
}

.icon {
  width: 1rem;
  height: 1rem;
}

.h3 {
  color: #252b42;

  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.00625rem;
}

.navbar-toggler {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title {
    margin-left: 8.5rem;
}
